#canvas {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical_flex {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.horizontal_flex {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
